pandas==0.24.2
sqlalchemy
xlwt
xlrd
xlsxwriter
requests
flask
pymssql<3.0
pika==0.12.0
tqdm
profilehooks
pyhdfs
redis==3.3.2
pymysql
cryptography
torch==1.2.0
pyzmq==18.0.0
opencv-python==4.0.0.21
tensorflow==1.14.0
tensorflow_gpu==1.14.0
tensorboardX
gym==0.12.0
gym[atari]
Pillow
sklearn
ray[tune]
ray[rllib]
pymysql
dm-tree
torchvision
lz4